[Desktop Entry]
Name=Azure Data Studio
Comment=Azure Data Studio
Icon=${SNAP}/_ads/azuredatastudio.png
Exec=azuredatastudio
Type=Application
Terminal=false
Keywords=Data;Sql;IDE
Categories=Development;